.body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 255, 205);
}

.cabecalho{
    color: white;
    background-color: rgb(34, 49, 29);
    text-align: center;
    padding: 30px;
}


.container{
    color: rgb(34, 49, 29);
}

.alinha{
  text-align: left;
  font-size: 18px;
  line-height: 1.6; 
}

.imagem-um{
  width: 400px;               
  height: auto;             
  border-radius: 15px;         
  display: block;               
  margin: 20px auto; 
  padding-left: 20px;
}

.energias{ display: flex;
align-content: center;
font-size: 40px;
color: rgb(37, 99, 55); 
justify-content: center;
align-items: center;  
}


.img-slide{         
  width: 50px;  
  height: 400px;  
  display: block;               
  margin: 20px; 
}


.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}