.body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(180, 255, 205);
}

.cabecalho{
    color: white;
    background-color: rgb(34, 49, 29);
    text-align: center;
    padding: 30px;
}

.body{
    color: rgb(144, 255, 130);
}

.container{
    color: rgb(34, 49, 29);
}

.alinha{
    text-align: right;
}
.img-agro{
    width: 300px;
}

.br-3{
    border-radius: 15px;
}

.img-card{
    max-height: 250px;
}

.img-slide{
    max-height: 400px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}