body{
    background-color:rgb(216, 252, 221) ;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho{
    color: rgb(255, 255, 255);
    background-color: rgb(13, 73, 23);
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(153, 199, 159);
}

p .alinha{
    text-align: right;
}
.img-agro{
    width: 300px;
}

.br-3{
    border-radius: 15px;
}

.img-card{
    max-height: 250px;
}

.img-slide{
    max-height: 400px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}