body{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.cabecalho{
    color: white;
    background-color: rgb(34, 49, 29);
    text-align: center;
    padding: 30px;
}

.cabecalho h3{
    color: rgb(144, 255, 130);
}

.container{
    color: rgb(34, 49, 29);
}